<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Edit Restaurant</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='edit_restaurants.css') }}"/>
    <style></style>
    <script></script>
</head>
<body>
  <div class="container">
    <div class="body">
      <form class="form" action="/edit/{{restaurant_id}}" method="post">
          <h3>Restaurant name:</h3>
          <input type="hidden" value="name"/>
          <input type="text" name="restaurant_name"/>
          <h3>Street address:</h3>
          <input type="hidden" value="address"/>
          <input type="text" name="street"/>
          <h3>City:</h3>
          <input type="hidden" value="location"/>
          <input type="text" name="city"/>
          <h3>Zip Code:</h3>
          <input type="hidden" value="zip"/>
          <input type="text" name="zip_code"/>
          <h3>Price Scale:</h3>
          <input type="hidden" value="pricing"/>
          <input type="text" name="price"/>
          <input class="button" type="submit" method="post" value="Submit"/>
      </form>
      <form action="/">
        <input class="button" type="submit"  value="Go Back"/>
      </form>
    </div><!-- end of body -->
  </div><!-- end of container -->

</body>
</html>
