<!DOCTYPE html>
<html>
<head>
    <title>Tacos</title>
</head>
<body>
<h1>Restaurants</h1>
    <table style="width:800px;">
        <tr>
            <th style="text-align: left;">Restaurant Name</th>
            <th style="text-align: left;">Address</th>
            <th style="text-align: left;">Price</th>
        </tr>

        {% for restaurant in restaurants %}
        <tr>
            <td>{{ restaurant['name'] }}</td>
            <td>{{ restaurant['street_num'] }}, 
                {{ restaurant['city'] }}, 
                {{ restaurant['zip'] }}
            </td>
            <td>{{ restaurant['price'] }}</td>
            <td>
                <form style="display:inline;" action="/view/{{ restaurant['id'] }}">
                    <input type="submit" value="View">
                </form>
                <form style="display:inline;" action="/edit/{{ restaurant['id'] }}"">
                    <input type="submit" value="Edit">
                </form>
                <form style="display:inline;" action="/delete/{{ restaurant['id'] }}"">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button>
        <a style="text-decoration: none; color:black" href='/add'>
            Add Restaurant
        </a>
    </button>
</body>
</html>