<!DOCTYPE html>
<html>
<head>
	<title>Restaurant Info</title>
</head>
<body>
	<h1>Restaurant Name: {{ info['name'] }}</h1>
	<h2>Address: {{ info['street_num'] }} {{ info['city'] }} {{ info['zip'] }}</h2>
	<h2>Price Range: {{ info['price'] }}/5</h2>
	
	<br>
	<h2>Items List:</h2>
	<ol>
	{% for item in items %}
		<li>{{ item['name'] }}</li>
	{% endfor %}
	</ol>

	<form action="/view/{{ info['id'] }}" method="post">
		<input type="text" name="item">
		<input type="submit" name="action" value="Add">
	</form>
	
	{% with error = get_flashed_messages() %}
		<p>{{ error }}</p>
	{% endwith %}

</body>
</html>